<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      
      <form class="d-flex mx-5" role="search" method="POST" action="../search">
        <input class="form-control me-2" type="search" placeholder="Search" name="searchTerm" aria-label="Search">
        <button class="btn btn-primary" type="submit" action="../search">Search</button>
      </form>

    </div>
  </div>
</nav>